body {
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
}

button {
	color: white;
	background-color: rgb(219, 161, 0);
	border: 2px solid rgb(219, 161, 0);
	border-radius: 3px;
	font-size: 1rem;
	margin-right: 10px;
	padding: 5px;
}

button:active {
	color: rgb(219, 161, 0);
	background-color: white;
}

#app {
	height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
}

#side_menu {
	color: white;
	padding: 10px 10px;
	margin: 0;
	width: 30%;
	max-width: 200px;
	min-width: 50px;
	background-color: rgb(219, 161, 0);
}

#app_body {
	padding: 10px;
	margin: 0;
	width: 70%;
}

.menu_title {
	cursor: pointer;
	padding-left: 5px;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-top: 5px;
	padding-bottom: 5px;
}

.arrow-right {
	margin-right: 10px;
	position: relative;
	left: 5px;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid white;
}

.arrow-down {
	margin-right: 2px;
	position: relative;
	top: 5px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid white;
}

.hidden {
	display: none;
}
